.error{
    position: absolute;
    transform: translateY(50%);
    width: 100vw;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h1{
        font-size: 100px;
        margin: 0 0 10px;
    }

    h4{
        font-size: 25px;
        margin: 0 0 30px;
    }

    p{
        font-size: 15px;
    }
}