.rec{
    display: flex;
    flex-direction: column;
    align-items: center;

    &__reccom{
        padding: 20px;
        background-color: #575757c0;
        max-width: 80%;
        width: 100%;
        color: white;
        font-size: 17px;
        margin-top: 50px;
        display: flex;
        flex-wrap: wrap;
        gap: 20%;
        justify-content: center;
        margin-bottom: 50px;
    }

    &__header, &__author{
        text-align: center;
        flex-basis: 100%;
    }

    &__author{
        margin-bottom: 30px;
    }

    &__title{
        color: white;
        font-size: 21px;
        font-weight: bold;
        margin-bottom: 30px;
    }

    &__pic{
        height: 350px;
        margin-bottom: 15px;
    }

    &__anime-wrap{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__anime{
        display: flex;
        gap: 25px;
        margin: 25px 0;
        background-color: #575757c0;
        padding: 15px 25px 30px;
        
        &-pic{
            width: 100%;
            max-width: 300px;
            object-fit: cover;
        }

        &-header{
            font-size: 35px;
            margin: 0 0 8px;
            color: white;
        }

        &-desc{
            color: #b7b7b7;
            font-size: 20px;
        }
    }
}

@media (max-width: 1023px){
    .search{
        width: 70%;
    }

    .search__anime{
        flex-wrap: wrap;
        justify-content: center;
    }
}

@media (max-width: 767px){
    .search{
        width: 50%;
    }

    .profile__favs-anime{
        flex-basis: 38%;
    }

    .profile__favs-anime-image{
        height: 425px;
    }
}